        .first-strip{
            margin-left: -8px;
            margin-right: -8px;
            display:grid;
            grid-template-columns: 6fr 6fr;
            padding-left: 100px;
            padding-top: 8px;
            padding-bottom: 8px;
            background-color: rgb(50, 41, 41);
            color: white;
        }
        .first-strip-2 {
            margin-left: 300px;
        }
        .first-strip-2 a{
            margin-left: 20px;
            text-decoration: none;
            color: white;
        }
        .bi-linkedin,.bi-github,.bi-instagram{
            background-color: gray;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 8px;
            padding-right: 8px;
        }
        .second-strip{
            /* margin:-8px ; */
            display: grid;
            grid-template-columns: 4fr 4fr 4fr;
        }
        .brand-name{
            padding-top: 20px;
            padding-left: 150px;
        }
        .papermag{
            font-size:20px;
        }
        .navlings{ 
            padding-left: 12px;
            display: flex;
            justify-content: space-evenly;
            color: rgb(97, 92, 92);
        }
        .navlings a{
            text-decoration: none;
            color: grey;
        }
        .navlings div{
            margin-left: 10px;
        }
        .home{
            background-color: goldenrod;
            padding-top: 10px;
            color: white;
            padding-left: 15px;
            padding-right: 15px;
        }
        .home,.qualification,.domains,.blogpost,.project,.contact{
            padding-top: 20px;
        }
        .search{
            color: rgb(97, 92, 92);
            /* display: flex; */
            padding-left: 200px;
            padding-right: 100px;
            padding-top: 20px;
            /* border: 1px solid rgb(97, 92, 92); */
        }
        .search-2{
            border: 1px solid rgb(97, 92, 92);
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 2px;
        }
        .home-content{
            text-align: justify;
            margin-left: 200px;
            margin-top: 70px;

            font-size: 15px;
            line-height: 20px;
        }   
        .home-content-summary{
            border: 1px solid black;
            width: 500px;
            height: 100px;
            padding-left: 20px;
            padding-top: 20px;
            margin-top: 100px;
            margin-bottom: 220px;
        } 
        .qualification-content{
            margin-top: 60px;
            margin-left: 200px;
        }
        .qualification-content-summary{
            border: 1px solid black;
            width: 550px;
            height: 180px;
            padding-left: 10px;
            padding-top: 50px;
            margin-top: 60px;
            margin-bottom: 250px;
            font-size: 15px;

        }
        .domains-content{
            margin-left: 200px;
        }
        .domains-content-summary{
            border: 1px solid black;
            width: 550px;
            height: 180px;
            padding-left: 10px;
            padding-top: 50px;
            margin-top: 60px;
            margin-bottom: 250px;
            font-size: 15px;

        }
        .blogpost-content{
            margin-left: 200px;
        }
        .blogpost-content-summary{
            border: 1px solid black;
            width: 550px;
            height: 250px;
            padding: 60px;
            /* padding-top: 50px; */
            margin-top: 60px;
            margin-bottom: 160px;
            font-size: 15px;

        }
        .project-content{
            margin-left: 200px;
        }
        .project-content-summary{
            img , h1{
                width: 600; 
                height: 400; 
                margin-bottom: 20 ;
            }
        }